.footerNewsLetter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(1, 1, 1, 0.3);
  z-index: 999999;
  .footerPopUp {
    width: 500px;
    height: 200px;
    background-color: #ffffff;
    border: 4px solid #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    h2 {
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%);
      margin-bottom: 0;
      padding: 24px;
    }
    .news-letter-close-btn {
      text-align: right;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      .icon {
        margin-left: 5px;
      }
    }
  }
}

.f-newsletter {
  opacity: 0;
  position: absolute;
}

@media only screen and (max-width: 767px) and (min-width: 300px) {
  .footerNewsLetter .footerPopUp {
    width: 80%;
    height: 150px;
    background-color: #ffffff;
    border: 4px solid #000000;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    position: relative;
    text-align: center;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .footerNewsLetter .footerPopUp h2 {
    top: unset;
    left: unset;
    transform: unset;
    font-size: 14px;
    padding: 24px;
  }
}
