@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

$cantata_font: 'Cantata One', serif;

.black_week {
  position: relative;
  margin-top: -4px;
  [class*='section-'] {
    width: 100%;
    position: relative;
  }
  .desktop {
    display: flex !important;
  }
  .mobile {
    display: none !important;
  }
  .b_con {
    width: 80%;
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }
  .section-1 {
    padding: 4px 32px 52px;
    z-index: 1;
    overflow: hidden;
  }
  .section-2 {
    z-index: 2;
    padding: 20px 0 72px;
  }
  .section-3 {
    padding: 20px 0;
    margin-bottom: 52px;
    position: relative;
  }
  .full-section {
    width: 100%;
    padding: 0 32px;
  }
  .home_banner {
    width: 80%;
    margin: 72px auto 72px;
    padding: 0;
  }
  .cover {
    width: 100%;
    .big_box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .left,
      .right {
        width: calc(50% - 1px);
      }
      .left {
        .img {
          img {
            height: 100%;
          }
        }
      }
      .right {
        display: flex;
        z-index: 2;
        position: relative;
        background-color: #ecd1d7;
        .backCover {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .link_box {
          position: relative;
          z-index: 2;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .center {
            margin: auto;
          }
          .detail {
            text-align: center;
            padding: 1.667vw;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            color: #282828;
            margin: auto 0;
            .tt {
              width: 100%;
              font-weight: bold;
              font-size: 2.5vw;
              line-height: 3.333vw;
              letter-spacing: normal;
              margin-bottom: 1.25vw;
            }
            .text,
            .bot_text {
              width: 100%;
              font-weight: bold;
              font-size: 1.25vw;
              line-height: 1.667vw;
              margin-bottom: 2.5vw;
            }
            .text {
              margin-bottom: 0.556vw;
            }
            .link {
              background: #282828;
              border-radius: 500px;
              padding: 1.111vw 3.889vw;
              margin: 0 auto;
              transition: 0.3s ease;
              &:hover {
                background: #fff;
                span {
                  color: #282828;
                }
              }
              span {
                display: block;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
                color: #fff;
                transition: 0.3s ease;
                @media only screen and (min-width: 1441px) {
                  font-size: 0.833vw;
                  line-height: 1.111vw;
                }
              }
            }
          }
        }
      }
    }
  }
  .cover_sale_banner {
    position: relative;
    z-index: 2;
    .cover_row {
      width: 80%;
      position: relative;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2px;
      .list {
        position: relative;
        height: 11.944vw;
        overflow: hidden;
        .img {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1;
          display: flex;
          img {
            object-fit: cover;
          }
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          background: #dedecf;
          mix-blend-mode: multiply;
        }
        .box {
          position: relative;
          z-index: 3;
          text-align: center;
          text-transform: uppercase;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          .top_text {
            font-size: 12px;
            line-height: 16px;
            color: #282828;
            background: #ecd1d7;
            padding: 4px 12px;
            margin: 0 auto 6px;
          }
          .tt {
            width: 100%;
            font-weight: bold;
            font-size: 1.667vw;
            line-height: 2.222vw;
            color: #fff;
            margin-bottom: 6px;
          }
          .bot_text {
            margin: 0 auto;
            font-weight: bold;
            font-size: 1.667vw;
            line-height: 2.222vw;
            color: #ad0020;
            background: #ffffff;
            padding: 0.278vw 1.25vw;
          }
        }
      }
    }
  }
  .black_slider {
    padding: 0 32px;
    .none_slider-grid {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 20.833vw auto 20.833vw;
      gap: 2px;
      .list {
        .link_box {
          position: relative;
          .img {
            display: flex;
            height: 34.722vw;
            overflow: hidden;
            img {
              height: 100%;
            }
          }
          .center_text {
            position: absolute;
            left: 0.556vw;
            right: 0.556vw;
            bottom: 3.333vw;
            text-align: center;
            .top_text,
            .tt {
              font-weight: bold;
              color: #ffffff;
              text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            }
            .top_text {
              font-size: 2.5vw;
              line-height: 2.5vw;
            }
            .tt {
              font-size: 4.861vw;
              line-height: 4.861vw;
              margin-bottom: 2.5vw;
            }
            .link {
              background: #ffffff;
              border-radius: 500px;
              padding: 1.111vw 3.889vw;
              transition: 0.3s ease;
              width: max-content;
              margin: 0 auto;
              &:hover {
                background: #282828;
                span {
                  color: #fff;
                }
              }
              span {
                display: block;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
                color: #282828;
              }
            }
          }
        }
      }
    }
  }
  .gift_card-banner {
    background: #efeadf;
    padding: 24px;
    .banner-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .left {
        width: 327px;
        margin-right: 72px;
        img {
          filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
        }
      }
      .right {
        width: 374px;
        margin: auto 0;
        .top_text,
        .tt,
        .bot_text,
        .span_text {
          font-weight: bold;
          text-align: center;
          color: #282828;
        }
        .top_text {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 8px;
        }
        .tt {
          font-size: 48px;
          line-height: 62px;
          margin-bottom: 8px;
        }
        .bot_text {
          font-size: 18px;
          line-height: 24px;
        }
        .span_text {
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  .scoop_banner {
    margin-top: 72px;
    margin-bottom: 52px;
    padding: 0 32px;
    .scoop_row {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      background: linear-gradient(0deg, #ecd1d7, #ecd1d7);
      padding: 2.222vw 0;
      .img_row {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        bottom: -0.556vw;
        left: 0;
        right: 0;
        justify-content: center;
        .img {
          width: 28.333vw;
          height: 6.806vw;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .center_img {
          margin: auto 10px 1.042vw;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .detail {
        position: relative;
        z-index: 2;
        text-align: center;
        width: 100%;
        margin: auto auto auto 0;
        .tt {
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;
          color: #282828;
        }
        @media only screen and (min-width: 1450px) {
          .tt {
            font-size: 1.667vw;
            line-height: 2.222vw;
          }
        }
      }
    }
  }
  .black_con {
    width: 100%;
    padding: 0 32px;
    .bg_tt {
      font-weight: 800;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #282828;
      margin-bottom: 8px;
      text-align: center;
      position: relative;
    }
    .description {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #282828;
      margin-bottom: 36px;
    }
    .black_grid {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2px;
      position: relative;
      .list {
        .box {
          position: relative;
          &:hover {
            .detail {
              .bl_link {
                border: 1px solid #282828;
                background: #282828;
                span {
                  color: #fff;
                }
              }
            }
          }
          .img {
            position: relative;
            z-index: 1;
            display: flex;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              z-index: 1;
            }
          }
          .detail {
            position: absolute;
            z-index: 2;
            left: 50%;
            bottom: 48px;
            transform: translateX(-50%);
            text-align: center;
            width: 85%;
            .bl_link {
              border: 1px solid #fff;
              border-radius: 24px;
              padding: 15px 55px;
              text-transform: uppercase;
              background-color: transparent;
              display: block;
              width: max-content;
              margin: 0 auto;
              background: #fff;
              transition: 0.3s ease;
              span {
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                color: #000;
                display: block;
                transition: 0.3s ease;
              }
            }
          }
        }
      }
    }
  }
  .bottom_banner {
    width: 80%;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
    .left {
      width: 53.472vw;
      margin-right: 0.139vw;
      .img {
        img {
          height: 100%;
        }
      }
    }
    .right {
      width: calc(100% - 53.611vw);
      display: flex;
      z-index: 2;
      position: relative;
      .backCover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .link_box {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        .center {
          margin: auto;
        }
        .detail {
          text-align: center;
          padding: 24px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          color: #fff;
          margin: auto 0;
          .tt {
            width: 100%;
            font-weight: bold;
            font-size: 2.5vw;
            line-height: 3.333vw;
            letter-spacing: normal;
            margin-bottom: 2.5vw;
          }
          .link {
            background: #fff;
            border-radius: 500px;
            padding: 1.111vw 3.889vw;
            margin: 0 auto;
            transition: 0.3s ease;
            &:hover {
              background: #fff;
              span {
                color: #282828;
              }
            }
            span {
              display: block;
              font-weight: bold;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              color: #282828;
              transition: 0.3s ease;
              @media only screen and (min-width: 1441px) {
                font-size: 0.833vw;
                line-height: 1.111vw;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 961px) {
  .black_week .section-1 {
    padding: 4px 0 16px;
  }
  .black_week .section-2 {
    padding: 20px 0 36px;
  }
  .black_week .section-3 {
    padding: 20px 0 36px;
    margin-bottom: 0px;
  }
  .black_week .b_con {
    width: 100%;
    padding: 0 24px;
  }
  .black_week .full-section {
    padding: 0 24px;
  }
  .black_week .cover .big_box .right .link_box .detail .tt {
    font-size: 24px;
    line-height: 32px;
  }
  .black_week .cover .big_box .right .link_box .detail .text {
    font-size: 16px;
    line-height: 21px;
  }
  .black_week .cover .big_box .right .link_box .detail .text,
  .black_week .cover .big_box .right .link_box .detail .bot_text {
    font-size: 16px;
    line-height: 21px;
  }
  .black_week .cover .big_box .right .link_box .detail .link {
    padding: 16px 54px;
  }
  .black_week .cover .big_box .right .link_box .detail .link span {
    font-size: 12px;
    line-height: 16px;
  }
  .black_week .black_slider {
    padding: 0 24px;
  }
  .black_week .black_slider .none_slider-grid {
    width: 100%;
    grid-template-columns: 25.781vw auto 25.781vw;
  }
  .black_week .black_slider .none_slider-grid .list .link_box .img {
    height: 42.969vw;
  }
  .black_week .cover_sale_banner .cover_row {
    width: 100%;
    padding: 0 24px;
  }
  .black_week .cover_sale_banner .cover_row .list {
    height: 13.944vw;
  }
  .black_week .scoop_banner {
    margin-top: 36px;
    margin-bottom: 16px;
    padding: 0 24px;
  }
  .black_week .scoop_banner .scoop_row {
    width: 100%;
    padding: 24px 0 32px;
  }
  .black_week .scoop_banner .scoop_row .img_row {
    bottom: 0;
  }
  .black_week .scoop_banner .scoop_row .img_row .center_img {
    margin: auto 4px 8px;
  }
  .black_week .scoop_banner .scoop_row .right .detail .tt {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
  }
  .black_week .scoop_banner .scoop_row .right .detail .text {
    font-size: 12px;
    line-height: 16px;
  }
  .black_week .black_slider .description {
    margin-bottom: 18px;
  }
  .black_week .black_con {
    padding: 0 24px;
  }
  .black_week .black_con .bg_tt {
    margin-bottom: 4px;
  }
  .black_week .black_con .description {
    margin-bottom: 18px;
  }
  .black_week .black_con .black_grid {
    width: 100%;
    padding: 0 0;
    gap: 0;
  }
  .black_week .black_con .black_grid .list .box .detail {
    bottom: 30px;
  }
  .black_week .black_con .black_grid .list .box .detail .bl_link span {
    font-size: 12px;
    line-height: 16px;
  }
  .black_week .home_banner {
    width: 100%;
    padding: 0 24px;
    margin: 36px auto 36px;
  }
  .black_week .bottom_banner {
    width: 100%;
    margin-bottom: 36px;
  }
  .black_week .gift_card-banner {
    padding: 36px;
  }
  .black_week .gift_card-banner .banner-row .left {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
  }
  .black_week .gift_card-banner .banner-row .right {
    width: 100%;
  }
  .black_week .gift_card-banner .banner-row .right .top_text {
    font-size: 14px;
    line-height: 18px;
  }
  .black_week .gift_card-banner .banner-row .right .tt {
    font-size: 24px;
    line-height: 32px;
  }
  .black_week .gift_card-banner .banner-row .right .bot_text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .black_week .desktop {
    display: none !important;
  }
  .black_week .mobile {
    display: flex !important;
  }
  .black_week .section-1 {
    padding: 0px 0 6px;
  }
  .black_week .section-1::after {
    display: none;
  }
  .black_week .section-2 {
    padding: 30px 0 22px;
  }
  .black_week .full-section {
    padding: 4px 0;
  }
  .black_week .section-3 {
    padding: 14px 0 4px;
    margin-bottom: 18px;
  }
  .black_week .home_banner {
    width: 100%;
    padding: 0 4px;
    margin: 36px auto 36px;
  }
  .black_week .cover .big_box .left,
  .black_week .cover .big_box .right {
    width: 100%;
    margin-top: 2px;
  }
  .black_week .cover .big_box .right .link_box .detail {
    padding: 36px 26px;
  }
  .black_week .cover .big_box .right .link_box .detail .tt {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 18px;
  }
  .black_week .cover .big_box .right .link_box .detail .text {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 4px;
  }
  .black_week .cover .big_box .right .link_box .detail .text,
  .black_week .cover .big_box .right .link_box .detail .bot_text {
    font-size: 16px;
    line-height: 21px;
  }
  .black_week .cover .big_box .right .link_box .detail .bot_text {
    margin-bottom: 25px;
  }
  .black_week .cover .big_box .right .link_box .detail .link {
    padding: 16px 54px;
  }
  .black_week .b_con {
    width: 100%;
    padding: 4px 4px 0;
    overflow: hidden;
  }
  .black_week .cover_sale_banner .cover_row {
    width: 100%;
    padding: 0 4px;
    grid-template-columns: 1fr;
    gap: 2px;
  }
  .black_week .cover_sale_banner .cover_row .list {
    height: 152px;
  }
  .black_week .cover_sale_banner .cover_row .list .box .tt {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .black_week .cover_sale_banner .cover_row .list .box .bot_text {
    font-size: 21px;
    line-height: 28px;
  }
  .black_week .black_slider .bg_tt {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }
  .black_week .black_slider .description {
    font-size: 12px;
    line-height: 16px;
    width: 84%;
    margin: 0 auto 18px;
  }
  .black_week .black_slider {
    padding: 0 4px;
  }
  .black_week .black_slider .none_slider-grid {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .black_week .black_slider .none_slider-grid .list .link_box .center_text {
    left: 4px;
    right: 4px;
    bottom: 24px;
  }
  .black_week .black_slider .none_slider-grid .list .link_box .img {
    height: 100%;
  }
  .black_week .black_slider .none_slider-grid .list .link_box .center_text .top_text {
    font-size: 24px;
    line-height: 32px;
  }
  .black_week .black_slider .none_slider-grid .list .link_box .center_text .tt {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 18px;
  }
  .black_week .black_slider .none_slider-grid .list .link_box .center_text .link {
    padding: 16px 56px;
  }
  .black_week .scoop_banner {
    margin-top: 12px;
    margin-bottom: 22px;
    padding: 0 4px;
  }
  .black_week .scoop_banner .scoop_row {
    width: 100%;
    padding: 24px 24px 32px;
    grid-template-columns: 1fr;
    height: auto;
  }
  .black_week .scoop_banner .scoop_row .img_row {
    bottom: 8px;
  }
  .black_week .scoop_banner .scoop_row .img_row .center_img {
    margin: auto 4px 0;
  }
  .black_week .scoop_banner .scoop_row .img_row .img {
    width: 132px;
    height: 32px;
  }
  .black_week .scoop_banner .scoop_row .detail .tt {
    font-size: 24px;
    line-height: 32px;
  }
  .black_week .scoop_banner .scoop_row .detail .bot_text {
    font-size: 21px;
    line-height: 28px;
  }
  .black_week .black_con .bg_tt {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 4px;
  }
  .black_week .black_con .description {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 18px;
  }
  .black_week .black_con {
    padding: 0 4px;
  }
  .black_week .black_con .black_grid {
    width: 100%;
    padding: 0;
    gap: 2px;
    grid-template-columns: 1fr;
  }
  .black_week .black_con .title_box {
    width: 100%;
    padding: 4.375vw 3.125vw;
  }
  .black_week .black_con .title_box .box {
    padding: 5.313vw 1.25vw 3.75vw;
  }
  .black_week .black_con .title_box .box .tt_tt {
    margin-bottom: 1.25vw;
    font-size: 6.25vw;
  }
  .black_week .black_con .title_box .box .bot_txt {
    font-size: 3.75vw;
    line-height: 4.375vw;
    white-space: pre-wrap;
  }
  .black_week .black_con .black_grid .center_txt {
    display: none;
    flex-wrap: wrap;
    width: 100%;
  }
  .black_week .black_con .black_grid .center_txt .tt,
  .black_week .black_con .black_grid .center_txt .bottom_text {
    letter-spacing: normal;
    width: 100%;
    font-weight: normal;
  }
  .black_week .black_con .black_grid .center_txt .tt {
    font-size: 10vw;
    line-height: 84.4%;
    margin-bottom: 2.5vw;
  }
  .black_week .black_con .black_grid .center_txt .bottom_text {
    font-size: 4.375vw;
    line-height: 84.4%;
  }
  .black_week .black_con .black_grid .list .box .detail {
    bottom: 30px;
  }
  .black_week .black_con .black_grid .list .box .detail .bl_link span {
    font-size: 12px;
    line-height: 16px;
  }
  .black_week .bottom_banner {
    width: 100%;
    padding: 0 4px;
    margin-bottom: 36px;
  }
  .black_week .bottom_banner .left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2px;
  }
  .black_week .bottom_banner .right {
    width: 100%;
  }
  .black_week .bottom_banner .right .link_box {
    margin: 0 auto;
  }
  .black_week .bottom_banner .right .link_box .detail {
    padding: 67px 36px;
  }
  .black_week .bottom_banner .right .link_box .detail .tt {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 36px;
  }
  .black_week .bottom_banner .right .link_box .detail .link {
    padding: 16px 56px;
  }
  .black_week .gift_card-banner {
    padding: 36px;
  }
  .black_week .gift_card-banner .banner-row .left {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
  }
  .black_week .gift_card-banner .banner-row .right {
    width: 100%;
  }
  .black_week .gift_card-banner .banner-row .right .top_text {
    font-size: 14px;
    line-height: 18px;
  }
  .black_week .gift_card-banner .banner-row .right .tt {
    font-size: 24px;
    line-height: 32px;
  }
  .black_week .gift_card-banner .banner-row .right .bot_text {
    font-size: 14px;
    line-height: 18px;
  }
}
