.currentRefinementTriggerMain {
  display: flex;

  .currentRefinementTriggerNumber {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #4f5255;
  }
}
.currentRefinementMain {
  display: flex;
  align-items: center;
  padding-top: 8px;
  .singleRefinementMain {
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 4px;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 1px;
      color: #4f5255;
      margin-right: 8px;
    }
    .rep-svg {
      display: flex;
      svg {
        margin: 0 8px;
      }
    }
  }
}
