.blog-page {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a,
  a:hover {
    text-decoration: none !important;
  }
  #blog .swiper-slide {
    margin-right: 0px !important;
  }

  #blog .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 18px !important;
  }
  #blog .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 18px !important;
  }
  #read {
    margin-bottom: 60px;
  }
  #read .slide {
    margin-bottom: 60px;
    position: relative;
  }
  #read .slide.desktop {
    height: 45vw;
    overflow: hidden;
  }

  #read .slide::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #2f2f2f 100%);
    z-index: 0;
  }
  #read .slide img {
    width: 100%;
  }
  #read .slide .detail {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    width: 850px;
  }
  #read .slide .detail .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
  }
  #read .slide .detail nav {
    display: flex;
  }
  #read .slide .detail nav .cus_breadcrumb {
    margin: auto;
    background-color: transparent;
    display: flex;
    list-style: none;
  }
  #read .slide .detail nav .cus_breadcrumb li {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }
  #read .slide .detail nav .cus_breadcrumb li a {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }
  #read .slide .detail .body {
    margin-top: 10px;
  }
  #read .slide .detail .body h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
  }
  #read .slide .detail .body .cat_date {
    display: flex;
  }
  #read .slide .detail .body .cat_date .cat {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin: auto auto auto 0;
    position: relative;
    padding-left: 20px;
  }
  #read .slide .detail .body .cat_date .cat::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 500px;
    background-color: #ea4335;
  }
  #read .slide .detail .body .cat_date .date {
    margin: auto 0 auto auto;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
  }
  #read .container {
    max-width: 940px;
  }
  #read .container .break_line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 25px 0;
  }
  #read .container .detail {
    margin-bottom: 30px;
  }

  /*blog table css*/
  #read {
    .container {
      .detail {
        div {
          text-align: left !important;
          margin-bottom: 10px;
          font-size: 17px;
          color: #000000;
          letter-spacing: 1.5px;
          line-height: 1.5;
          table {
            width: 100% !important;
            tr {
              font-size: 18px !important;
              line-height: 22px !important;
              color: rgba(0, 0, 0, 0.87);
              text-align: left !important;
            }
            td {
              width: 100% !important;
              padding-right: 24px !important;
              img {
                max-width: 450px !important;
                width: 450px !important;
                height: auto;
              }
              P {
                text-align: left !important;
                margin-top: 20px;
                font-size: 17px;
                color: #000000;
                letter-spacing: 1.5px;
                line-height: 1.5;
              }
              div {
                text-align: left !important;
                margin-top: 20px;
                font-size: 17px;
                color: #000000;
                letter-spacing: 1.5px;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) and (min-width: 300px) {
    #read {
      .container {
        .detail {
          div {
            text-align: left !important;
            margin-top: 20px;
            font-size: 17px;
            color: #000000;
            letter-spacing: 1.5px;
            line-height: 1.5;
            table {
              width: 100% !important;
              tr {
                display: flex;
                flex-direction: column-reverse;
                font-size: 18px !important;
                line-height: 22px !important;
                color: rgba(0, 0, 0, 0.87);
                text-align: left !important;
                margin-bottom: 30px;
                &:nth-child(1) {
                  flex-direction: column;
                }
                &:nth-child(2) {
                  flex-direction: column-reverse;
                }
                &:nth-child(3) {
                  flex-direction: column;
                }
                &:nth-child(4) {
                  flex-direction: column-reverse;
                }
                &:nth-child(5) {
                  flex-direction: column;
                }
                &:nth-child(6) {
                  flex-direction: column-reverse;
                }
                &:nth-child(7) {
                  flex-direction: column;
                }
              }

              td {
                width: 100% !important;
                padding-right: 0px !important;
                img {
                  max-width: 100% !important;
                  width: 100% !important;
                  height: auto;
                  margin-bottom: 5px !important;
                  margin-top: 10px;
                }
                P {
                  text-align: left !important;
                  font-size: 17px;
                  color: #000000;
                  letter-spacing: 1.5px;
                  line-height: 1.5;
                }
                div {
                  text-align: left !important;
                  margin-top: 20px;
                  font-size: 17px;
                  color: #000000;
                  letter-spacing: 1.5px;
                  line-height: 1.5;
                }
              }
            }
          }
        }
      }
    }
  }

  #read .container .detail img {
    margin-bottom: 25px;
    width: 100%;
    height: auto;
  }
  #read .container .detail ul {
    margin-top: 20px;
    letter-spacing: 1.5px;
    line-height: 1.4;
  }
  #read .container .detail p {
    margin-bottom: 10px;
    font-size: 17px;
    color: #000000;
    letter-spacing: 1.5px;
    line-height: 1.5;
  }
  #read .container .social {
    margin-bottom: 30px;
  }
  #read .container .social a {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.055em;
    color: #ffffff;
    margin-right: 50px;
    display: inline-block;
  }
  #read .container .social a:last-child {
    margin-right: 20px;
  }
  #read .container .social a .fb,
  #read .container .social a .tw {
    display: flex;
    height: 40px;
    padding: 0 12px;
  }
  #read .container .social a .fb svg,
  #read .container .social a .tw svg {
    margin: auto 5px auto auto;
  }
  #read .container .social a .fb span,
  #read .container .social a .tw span {
    margin: auto auto auto 5px;
  }
  #read .container .social a .fb {
    background-color: #3e5ba9;
  }
  #read .container .social a .tw {
    background-color: #1da1f3;
  }
  #read .container .bg_tt {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
  }
  #read .container .box .img {
    width: 100%;
    height: 290px;
    overflow: hidden;
  }
  #read .container .box .img img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: 0.3s ease;
    object-fit: cover;
  }
  #read .container .box .img:hover img {
    transform: scale(1.05);
  }
  #read .container .box .box_body {
    display: flex;
    flex-wrap: wrap;
  }
  #read .container .box .box_body .cat_date {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px 0px 15px 25px;
  }
  #read .container .box .box_body .cat_date .cat {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: auto auto auto 0;
    position: relative;
  }
  #read .container .box .box_body .cat_date .cat::after {
    content: '';
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 500px;
    background-color: #ea4335;
  }
  #read .container .box .box_body .cat_date .date {
    font-size: 12px;
    line-height: 14px;
    color: #707b80;
    margin: auto 0 auto auto;
  }
  #read .container .box .box_body .tt {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #read .container .box .box_body .tt a {
    color: #000000;
  }
  #read .container .comment label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.055em;
    color: #000000;
    margin-bottom: 0.5rem;
  }
  #read .container .comment form input {
    padding: 12px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.055em;
    color: #000;
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 0;
  }
  #read .container .comment form input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  #read .container .comment form textarea {
    padding: 12px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.055em;
    color: #000;
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 0;
    display: block;
    width: 100%;
  }
  #read .container .comment form textarea:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  #read .container .comment form .btn {
    padding: 14px 45px;
    background: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 0;
    border: none;
  }
  #read .container .comment form .btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  #read .container .comment_list {
    margin-top: 30px;
  }
  #read .container .comment_list .bg_tt {
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  #read .container .comment_list .box {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c8c8c8;
  }
  #read .container .comment_list .box .tt_date {
    margin-bottom: 10px;
  }
  #read .container .comment_list .box .tt_date .tt {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-right: 15px;
  }
  #read .container .comment_list .box .tt_date .date {
    font-size: 16px;
    line-height: 19px;
    color: #a8a8a8;
  }
  #read .container .comment_list .box .body {
    width: 80%;
    font-size: 17px;
    color: #000000;
  }
  #read .container .comment_list .box .body p {
    margin: 0;
  }

  /////////////////////////////////////////////EDIT//////////////////////////////////

  .form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    .form-group {
      margin-bottom: 1rem;

      .col-md-6 {
        padding-left: 5px;
        padding-right: 5px;
      }

      label {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.055em;
        color: #000000;
        margin-bottom: 0.5rem;
        display: inline-block;
        margin-bottom: 5rem;
        display: block;
      }
      .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      input {
        padding: 12px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.055em;
        color: #000;
        background: #ffffff;
        border: 1px solid #999999;
        border-radius: 0;
        width: 100%;
      }
      textarea {
        padding: 12px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.055em;
        color: #000;
        background: #ffffff;
        border: 1px solid #999999;
        border-radius: 0;
        .form-control {
          height: auto;
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
      }
      .btn {
        display: inline-block;
        font-weight: 400;
        padding: 14px 45px;
        background: #000000;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.055em;
        text-transform: uppercase;
        color: #ffffff;
        border-radius: 0;
      }
    }
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  .form-row > .col,
  .form-row > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
  }
  /////////////////////////////////////////////END//////////////////////////////////

  #blog {
    margin-bottom: 60px;
  }
  #blog .slider-container .box {
    display: flex;
    overflow: hidden;
    height: 35.1vw;
    position: relative;
    width: 100%;
  }
  #blog .slider-container .box::after {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 8.4%, rgba(209, 209, 209, 0) 92.06%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #blog .slider-container .box a {
    width: 100%;
    text-align: center;
  }
  #blog .slider-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.01);
    transition: 0.3s ease-in;
  }
  #blog .slider-container .box .detail {
    position: absolute;
    left: 50%;
    bottom: 30px;
    height: 135px;
    transform: translateX(-50%);
    width: 65%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }
  #blog .slider-container .box .detail .cat {
    font-size: 16px;
    height: 19px;
    line-height: 19px;
    color: #ffffff;
    margin: 0 auto 5px;
    position: relative;
  }
  #blog .slider-container .box .detail .cat::after {
    content: '';
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 500px;
    background-color: #ea4335;
  }
  #blog .slider-container .box .detail h2 {
    width: 100%;
    font-size: 32px;
    line-height: 36px;
    color: #ffffff;
    margin: 0 0 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  #blog .slider-container .box .detail .link {
    margin: auto auto 0;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    color: #ffffff;
    transform: translateY(-10px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.4s ease;
    cursor: pointer;
  }
  #blog .slider-container .box .detail .link svg {
    margin-left: 15px;
  }
  #blog .slider-container .box:hover img {
    transform: scale(1.04);
  }
  #blog .slider-container .box:hover .link {
    transform: translateY(0);
    opacity: 1;
  }
  #blog .blog-list .category {
    display: flex;
    margin: 40px 0;
  }
  #blog .blog-list .category .links {
    font-size: 18px;
    line-height: 21px;
    color: #707b80;
    margin: auto 15px auto 15px;
    display: inline-block;
    position: relative;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  #blog .blog-list .category .links:first-child {
    margin: auto 15px auto auto;
  }
  #blog .blog-list .category .links:last-child {
    margin: auto 0 auto 15px;
  }
  #blog .blog-list .category .links::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: #ea4335;
    transition: 0.3s ease-in;
  }
  #blog .blog-list .category .links.active,
  #blog .blog-list .category .links:hover {
    color: #000;
  }
  #blog .blog-list .category .links.active::after,
  #blog .blog-list .category .links:hover::after {
    width: 25px;
  }
  #blog .blog-list .card {
    background: #ffffff;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: 0.3s ease-in;
    margin-bottom: 30px;
  }
  #blog .blog-list .card .img {
    width: 100%;
    height: 255px;
    overflow: hidden;
  }
  #blog .blog-list .card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.3s ease-in;
  }
  #blog .blog-list .card .card-body {
    padding: 15px;
    height: 195px;
    display: flex;
    flex-wrap: wrap;
  }
  #blog .blog-list .card .card-body .cat_date {
    display: flex;
    width: 100%;
    margin: 0 0 15px;
  }
  #blog .blog-list .card .card-body .cat_date .cat {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: auto auto auto 0;
    position: relative;
  }
  #blog .blog-list .card .card-body .cat_date .cat::after {
    content: '';
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 500px;
    background-color: #ea4335;
  }
  #blog .blog-list .card .card-body .cat_date .date {
    font-size: 12px;
    line-height: 14px;
    color: #707b80;
    margin: auto 0 auto auto;
  }
  #blog .blog-list .card .card-body .title {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin: 0 0 5px;
  }
  #blog .blog-list .card .card-body .text {
    width: 100%;
    margin: 0 0 auto;
    font-size: 14px;
    line-height: 16px;
    color: #777b7c;
  }
  #blog .blog-list .card .card-body .link {
    display: inline-block;
    margin: auto 0 0;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  #blog .blog-list .card .card-body .link span {
    margin-right: 5px;
  }
  #blog .blog-list .card .card-body .link svg path {
    stroke: #000;
    transition: 0.3s ease;
  }
  #blog .blog-list .card:hover .img img {
    transform: scale(1.05);
  }
  #blog .blog-list .card:hover .card-body .link svg path {
    stroke: #ea4335;
  }

  .mobile {
    display: none;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: #000;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    display: none !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  @media only screen and (max-width: 1199px) {
    #blog .blog-list .card .card-body .text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    #blog .blog-list .card .img {
      width: 100%;
      height: 215px;
      overflow: hidden;
    }

    #blog .slider-container .box .detail {
      width: 80%;
    }

    #blog .slider-container .box .detail h2 {
      font-size: 28px;
      line-height: 32px;
    }
  }
  @media only screen and (max-width: 1024px) {
    #blog .slider-container .box {
      height: 35.3vw;
    }

    #blog .blog-list .card .img {
      height: 215px;
    }

    #blog .blog-list .card .card-body .text {
      display: none;
    }

    #blog .blog-list .card .card-body {
      height: 150px;
    }

    #blog .slider-container .box .detail .cat {
      font-size: 14px;
      height: 17px;
      line-height: 17px;
    }

    #blog .slider-container .box .detail h2 {
      font-size: 2.35vw;
      line-height: 2.9vw;
      margin: 0 0 10px;
    }

    #blog .slider-container .box .detail .link {
      font-size: 14px;
      line-height: 19px;
      transform: translateY(0);
      opacity: 1;
    }
    #blog .slider-container .box .detail .link svg {
      width: 18px;
      height: 11px;
    }

    #blog .slider-container .box .detail {
      bottom: 15px;
      height: 13.021vw;
    }

    #read .slide {
      margin-bottom: 30px;
    }

    #read .slide::after {
      height: 300px;
    }

    #read .slide .detail {
      width: 80%;
    }

    #read .slide .detail nav .cus_breadcrumb li a {
      font-size: 18px;
      line-height: 22px;
    }

    #read .slide .detail nav .cus_breadcrumb li {
      font-size: 18px;
      line-height: 22px;
    }

    #read .slide .detail .body h2 {
      font-size: 28px;
      line-height: 32px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    #read .slide .detail .body .cat_date .cat {
      font-size: 18px;
      line-height: 22px;
    }

    #read .slide .detail .body .cat_date .date {
      font-size: 16px;
      line-height: 20px;
    }

    #read .container .box .img {
      height: 265px;
    }
  }
  @media only screen and (max-width: 991px) {
    #blog .blog-list .card .img {
      height: 155px;
    }
  }
  @media only screen and (max-width: 767px) {
    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: block !important;
    }

    #blog .slider-container .box {
      height: 71vw;
    }
    #blog .slider-container .box::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, rgba(47, 47, 47, 0.8) 100%);
    }

    #blog .slider-container .box .detail {
      bottom: 15px;
      height: 31.25vw;
      width: 90%;
      z-index: 1;
    }

    #blog .slider-container .box .detail h2 {
      width: 100%;
      font-size: 5.6vw;
      line-height: 7vw;
      margin: 0 0 15px;
    }

    #blog .slider-container .box .detail .link {
      font-size: 15px;
      line-height: 18px;
      transform: translateY(0px);
      opacity: 1;
    }

    #blog .blog-list .category {
      margin: 8vw 0;
    }

    #blog .blog-list .category .links.active::after,
    #blog .blog-list .category .links:hover::after {
      width: 5vw;
    }

    #blog .blog-list .category .links::after {
      bottom: -2px;
      height: 2px;
    }

    #blog .blog-list .category .links {
      font-size: 3.7vw;
      line-height: 5vw;
    }

    #blog .blog-list .card .img {
      height: 375px;
    }

    #blog .blog-list .card .card-body {
      height: 145px;
    }

    #blog .blog-list .card .card-body .text {
      display: none;
    }

    #read .slide {
      margin-bottom: 30px;
    }

    #read .slide::after {
      height: 37.5vw;
    }

    #read .slide .detail {
      width: 90%;
      bottom: 15px;
      height: 30vw;
    }

    #read .slide .detail .body h2 {
      font-size: 5.6vw;
      line-height: 6.5vw;
      margin-bottom: 15px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    #read .slide .detail nav .cus_breadcrumb li a {
      font-size: 3.6vw;
      line-height: 5vw;
    }

    #read .slide .detail nav .cus_breadcrumb li {
      font-size: 3.6vw;
      line-height: 5vw;
    }

    #read .slide .detail .body .cat_date .cat {
      font-size: 3.6vw;
      line-height: 5vw;
    }

    #read .slide .detail .body .cat_date .date {
      font-size: 3.6vw;
      line-height: 5vw;
    }

    #read .container .detail p {
      text-align: left !important;
      font-size: 17px;
      color: #000000;
      letter-spacing: 1.5px;
      line-height: 1.5;
    }

    #read .container .detail p {
      margin-bottom: 20px;
    }

    #read .container .social a {
      font-size: 11px;
      margin-right: 10px;
    }

    #read .container .box .img {
      height: 67vw;
    }

    #read .container .social a .fb,
    #read .container .social a .tw {
      padding: 0 10px;
    }

    #read .container .comment {
      padding: 20px 0;
    }

    .gray_background {
      margin-top: 20px;
      background-color: #f4f4f4;
    }

    #read .container .comment_list .box .body {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 580px) {
    #blog .blog-list .card .img {
      height: 67vw;
    }
    #blog .slider-container .box .detail h2 {
      font-size: 2.6vh;
    }
  }

  /*# sourceMappingURL=main.css.map */

  .blog-slider-desk {
    display: block;
    display: flex;
    div {
      width: 50%;
    }
  }
  .blog-slider-mobile {
    display: none;
  }

  @media only screen and (max-width: 768px) and (min-width: 300px) {
    .blog-slider-desk {
      display: none;
    }
    .blog-slider-mobile {
      display: block;
    }
  }
}
